In [2]:
# Required Library
import pandas as pd

In [4]:
# Aggregation of Household's Income
# Creating key for every year
key = [2015,2016,2017,2018,2019]
# Creating DataFrame for Every Year
for i in key:
    vars()['df'+str(i)] = pd.read_excel(f'https://github.com/aiasci/HHBA/blob/main/raw/fert_cd/fert_cd_{i}.xlsx?raw=true', index_col = False)
    vars()['df'+str(i)].insert(0,'Yıl',i)
# Appending All Datasets
DATA_raw = pd.concat([df2015, df2016, df2017, df2018, df2019])
# Exporting it to the Excel
#DATA_raw.to_excel('C:/Users/Berat/Documents/TEPAV/GIZ-İstanbul/Data/Main/unzip/Final/DATA_raw.xlsx', index = False)

,Yıl,BIRIMNO,FERTNO,CINSIYET,YAS,YAKINLIK,SAGLIK_SIGORTA_1,SAKATLIK_GUNLUK,SAKATLIK_CALISMA,OKUL_BITEN,...,GELIR_AYNI_DEVLET,GELIR_YDISI_EMEKLI_MAAS,GELIR_YDISI_DOVIZ_BURS,GELIR_AYNI_YDISI,GELIR_NAKDI_OZEL,GELIR_AYNI_OZEL,GELIR_NAKDI_TOPLAM,GELIR_AYNI_TOPLAM,GELIR_TOPLAM,INDEKS_ARL
0,2015,1500001,1,1,66,1,16.0,1,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1600,0,1600.0,10701
1,2015,1500001,2,2,63,2,16.0,1,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,10701
2,2015,1500001,3,1,31,3,11.0,2,2,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,25170,3750,28920.0,10701
3,2015,1500001,4,2,26,7,11.0,2,2,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,10701
4,2015,1500001,5,2,17,3,16.0,2,2,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,10701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38739,2019,1915551,2,2,32,2,11.0,2,2,41.0,...,0.0,0.0,0.0,0.0,0.0,0.0,36000.0,0.0,36000.0,10000
38740,2019,1915551,3,1,11,3,11.0,2,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10000
38741,2019,1915552,1,1,35,1,11.0,2,2,41.0,...,0.0,0.0,0.0,0.0,0.0,0.0,48000.0,3500.0,51500.0,10000
38742,2019,1915552,2,2,29,2,11.0,2,2,41.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10000
38743,2019,1915552,3,1,7,3,11.0,2,2,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10000

In [ ]:
# Aggregation of Household's Consumption
# Creating DataFrame for Every Year
for i in key:
    if i == 2017 or i == 2018:
        vars()['tuketim'+str(i)] = pd.read_csv(f'https://github.com/aiasci/HHBA/blob/main/raw/tuketim_cd/tuketim_cd_{i}.csv?raw=true', sep = ';', index_col = False)
        vars()['tuketim'+str(i)].insert(0,'Yıl',i)   
    else:
        vars()['tuketim'+str(i)] = pd.read_csv(f'https://github.com/aiasci/HHBA/blob/main/raw/tuketim_cd/tuketim_cd_{i}.csv?raw=true', index_col = False)
        vars()['tuketim'+str(i)].insert(0,'Yıl',i)


Tuketim_raw = pd.concat([tuketim2015, tuketim2016, tuketim2017, tuketim2018, tuketim2019])
# Exporting it to the Excel
#TÜKETİM_raw.to_csv('C:/Users/Berat/Documents/TEPAV/GIZ-İstanbul/Data/Main/unzip/Final/TÜKETİM_raw.csv', index = False)